<div ng-controller="CookieConsentDashboard.Controller as vm" class="cookieconsent-dashboard">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <div ng-if="!vm.loading">

        <umb-box>
            <umb-box-header title-key="cookieConsent_categoriesTitle"
                            description-key="cookieConsent_categoriesDescription"></umb-box-header>
            <umb-box-content>
                <umb-control-group ng-repeat="(key, category) in vm.settings.applicableCategories"
                                   label="{{vm.categoryLabel(key)}}"
                                   description="{{vm.categoryDescription(key)}}">
                    <div class="cookieconsent-toggles">
                        <umb-toggle checked="category.item1"
                                    disabled="category.item2"
                                    on-click="vm.toggleCategory(key, 'item1')"
                                    show-labels="true"
                                    label-on="{{vm.t.shownInBanner}}"
                                    label-off="{{vm.t.hidden}}"></umb-toggle>

                        <umb-toggle checked="category.item2"
                                    on-click="vm.toggleCategory(key, 'item2')"
                                    show-labels="true"
                                    label-on="{{vm.t.alwaysOn}}"
                                    label-off="{{vm.t.visitorsDecide}}"></umb-toggle>
                    </div>
                </umb-control-group>
            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-header title-key="cookieConsent_languageTitle"
                            description-key="cookieConsent_languageDescription"></umb-box-header>
            <umb-box-content>
                <umb-control-group label="@cookieConsent_fallbackLanguage"
                                   description="@cookieConsent_fallbackLanguageDescription">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.languageOptions.defaultLanguage"
                            ng-options="language.item1 as language.item2 for language in vm.settings.availableLanguages"></select>
                </umb-control-group>

                <p class="cookieconsent-hint" ng-bind-html="vm.t.languageHint"></p>
            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-header title-key="cookieConsent_appearanceTitle"
                            description-key="cookieConsent_appearanceDescription"></umb-box-header>
            <umb-box-content>
                <umb-control-group label="@cookieConsent_bannerLayout"
                                   description="@cookieConsent_bannerLayoutDescription">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.guiOptions.consentModalLayout"
                            ng-options="layout.value as vm.t[layout.textKey] for layout in vm.enums.consentModalLayouts"></select>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_bannerPosition">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.guiOptions.consentModalPosition"
                            ng-options="position.value as vm.t[position.textKey] for position in vm.enums.consentModalPositions"></select>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_preferencesLayout"
                                   description="@cookieConsent_preferencesLayoutDescription">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.guiOptions.preferencesModalLayout"
                            ng-options="layout.value as vm.t[layout.textKey] for layout in vm.enums.preferencesModalLayouts"></select>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_preferencesPosition">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.guiOptions.preferencesModalPosition"
                            ng-options="position.value as vm.t[position.textKey] for position in vm.enums.preferencesModalPositions"></select>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_theme">
                    <select class="umb-property-editor umb-dropdown"
                            ng-model="vm.settings.theme"
                            ng-options="theme.value as vm.t[theme.textKey] for theme in vm.enums.themes"></select>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_followDarkMode"
                                   description="@cookieConsent_followDarkModeDescription">
                    <umb-toggle checked="vm.settings.miscOptions.enableDarkMode"
                                on-click="vm.settings.miscOptions.enableDarkMode = !vm.settings.miscOptions.enableDarkMode"></umb-toggle>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_disableTransitions"
                                   description="@cookieConsent_disableTransitionsDescription">
                    <umb-toggle checked="vm.settings.miscOptions.disableTransitions"
                                on-click="vm.settings.miscOptions.disableTransitions = !vm.settings.miscOptions.disableTransitions"></umb-toggle>
                </umb-control-group>

                <umb-control-group label="@cookieConsent_disablePageInteraction"
                                   description="@cookieConsent_disablePageInteractionDescription">
                    <umb-toggle checked="vm.settings.miscOptions.disablePageInteraction"
                                on-click="vm.settings.miscOptions.disablePageInteraction = !vm.settings.miscOptions.disablePageInteraction"></umb-toggle>
                </umb-control-group>
            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-header title-key="cookieConsent_builtInScriptsTitle"
                            description-key="cookieConsent_builtInScriptsDescription"></umb-box-header>
            <umb-box-content>
                <div class="cookieconsent-item" ng-repeat="item in vm.settings.builtInScripts track by $index">
                    <umb-control-group label="@cookieConsent_provider">
                        <select class="umb-property-editor umb-dropdown"
                                ng-model="item.provider"
                                ng-options="provider.value as vm.t[provider.textKey] for provider in vm.enums.builtInScriptProviders"></select>
                    </umb-control-group>

                    <umb-control-group label="@cookieConsent_measurementId">
                        <input type="text"
                               class="umb-property-editor umb-textstring"
                               ng-model="item.id"
                               placeholder="G-XXXXXXXXXX" />
                    </umb-control-group>

                    <umb-button action="vm.removeBuiltInScript($index)"
                                type="button"
                                button-style="link"
                                label="{{vm.t.remove}}"></umb-button>
                </div>

                <p class="cookieconsent-empty" ng-if="!vm.settings.builtInScripts.length">
                    {{vm.t.noBuiltInScript}}
                </p>

                <umb-button action="vm.addBuiltInScript()"
                            type="button"
                            button-style="success"
                            label="{{vm.t.addBuiltInScript}}"></umb-button>
            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-header title-key="cookieConsent_customScriptsTitle"
                            description-key="cookieConsent_customScriptsDescription"></umb-box-header>
            <umb-box-content>
                <p class="cookieconsent-hint" ng-bind-html="vm.t.customScriptsHint"></p>
                <pre class="cookieconsent-example">var s = document.createElement('script');
s.src = 'https://example.com/tag.js';
s.async = true;
document.head.appendChild(s);</pre>

                <div class="cookieconsent-item" ng-repeat="script in vm.settings.customScripts track by $index">
                    <umb-control-group label="@cookieConsent_runsAfterAccept">
                        <select class="umb-property-editor umb-dropdown"
                                ng-model="script.type"
                                ng-options="opt.value as vm.t[opt.textKey] for opt in vm.scriptTypes"></select>
                    </umb-control-group>

                    <umb-control-group label="@cookieConsent_code">
                        <textarea id="custom-script-{{$index}}"
                                  rows="10"
                                  class="umb-property-editor umb-textarea cookieconsent-code"
                                  ng-model="script.code"></textarea>
                    </umb-control-group>

                    <umb-button action="vm.removeCustomScript($index)"
                                type="button"
                                button-style="link"
                                label="{{vm.t.remove}}"></umb-button>
                </div>

                <p class="cookieconsent-empty" ng-if="!vm.settings.customScripts.length">
                    {{vm.t.noCustomScript}}
                </p>

                <umb-button action="vm.addCustomScript()"
                            type="button"
                            button-style="success"
                            label="{{vm.t.addScript}}"></umb-button>
            </umb-box-content>
        </umb-box>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="vm.resetConfig()"
                            type="button"
                            button-style="link"
                            label="{{vm.t.resetToDefaults}}"></umb-button>
                <umb-button action="vm.saveSettings()"
                            type="button"
                            button-style="success"
                            label="{{vm.t.save}}"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </div>
</div>
